<%= form_with(model: meme) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
    <% if meme.errors.has_key?(:title) %>
      <div style="color: red">
        <%= meme.errors.full_messages_for(:title).join(", ") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.file_field :image_url%>
    <% if meme.errors.has_key?(:image_url) %>
      <div class = "danger">
        <%= meme.errors.full_messages_for(:image_url).join(", ") %>
      </div>
    <% end %>
  </div>
w
  <div>
    <%= form.submit %>
  </div>
<% end %>
